services:
  ragify:
    container_name: ragify
    build:
      context: .
      dockerfile: ragify.Dockerfile
    gpus: all
    environment:
      - EMBEDDED_OLLAMA_MODEL=mxbai-embed-large
      - batch_size=512
      - embed_batch_size=64
      - embedding_dim=1024
    volumes:
      - ./DandD:/DandD
      - ./logs:/logs
  frontend:
    container_name: frontend
    build:
      context: .
      dockerfile: page.Dockerfile
    ports:
      - "80:80"
    gpus: all
    environment:
      - EMBEDDED_OLLAMA_MODEL=nomic-embed-text
    volumes:
      - ./DandD:/DandD